@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.wrapper {
  .hero {
    background: url('../../../public/college31.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw; /* Full width */
    height: 100vh; /* Adjust as necessary to maintain height */
    color: #000000;
    padding: 100px 0;
    //overflow: hidden; /* Ensures content doesn't overflow */

    header {
      .container {
        text-align: center;
        margin-bottom: 20px;
        .logo-container{
          border-radius: 15px;
        }
        .display-4 {
          font-family: 'Merriweather', serif; /* Classic font resembling Ivy League */
          font-size: 3em;
          font-weight: bold;
          width: 100%;
          
          color: #ffffff;
          background-color:rgba(149,91,78,0.7); 
          backdrop-filter: blur(2px); /* Blur effect */
          padding: 10px;
          border-radius:3px;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Shadow effect */
          display: inline-block; /* Fit content */
        }
      }
      
    }
    // .scrolling-banner {
    //   font-size: 2em;
    //   overflow: hidden;
    //   color:#fff;
    //   background-color:rgba(39, 39, 39, 0.7); 
    //   backdrop-filter: blur(2px); /* Blur effect */
    //   position: relative;
    //   width: 100%;
    //   margin-bottom: 20px;
  
    //   .events {
    //     display: flex;
    //     animation: scroll-left 30s linear infinite;
    //     white-space: nowrap;
    //   }
  
    //   @keyframes scroll-left {
    //     0% {
    //       transform: translateX(100%);
    //     }
    //     100% {
    //       transform: translateX(-100%);
    //     }
    //   }
    // }

    .jumbotron {
      background-color: rgba(81, 81, 81, 0.7); /* Translucent aliceblue */
      backdrop-filter: blur(2px); /* Blur effect */
      padding: 20px;
      border-radius: 8px;
      padding: 60px 0;
      color: beige;
      .container {
        .row {
          .display-5 {
            font-family: 'Merriweather', serif; /* Classic font resembling Ivy League */

            font-size: 2.5em;
            font-weight: bold;
          }

          .lead {
            margin-top: 20px;
            font-size: 2.0em;

            .btn {
              margin-top: 20px;
              font-size: 1em;
              padding: 10px 20px;
              // border-radius: 10px;
              background-color: rgba(138,79,70,255);
              outline:none;
              border:none;
            }
          }
        }
      }
    }
  }

  .sec-about {
    .container {
      .h4 {
        font-size: 2em;
        margin-bottom: 20px;
      }

      .row {
        .col-sm-4 {
          text-align: center;

          h4 {
            font-size: 2em;
            font-weight: bold;
          }

          h5 {
            margin-top: 10px;
            font-size: 1.2em;
          }

          hr {
            margin: 20px 0;
          }
        }
      }
    }
  }

  .footer {
    background: #222;
    color: #fff;
    padding: 20px 0;

    .list-inline {
      margin: 0;
      padding: 0;

      .list-inline-item {
        margin: 0 10px;

        a {
          color: #fff;
          font-size: 1.5em;

          &:hover {
            color: #007bff;
          }

          .fa {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
